body {
  background-color: rgba(46, 101, 184, 0.582);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 20px;
  border: 3px double white;
  border-radius: 20px;
  /* margin 태그에 auto를 붙여 가운데에 위치시킨다. */
  margin: 20px auto;
  width: 300px;
  text-align: center;
}
/* css에서 여러태그를 동시에 지정 가능함 */
p,
ul {
  text-align: center;
  margin-bottom: 20px;
}
img {
  border-radius: 50%;
}
/* block 속성 강제부여 */
a {
  background-color: rgb(247, 185, 185);
  display: block;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
ul {
  width: 300px;
  margin: 0 auto;
}
li {
  margin-bottom: 20px;
}
