@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  line-height: 1.4;
  color: #25262b;
  background: #e4ece6;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 100px 0;
}
section:nth-child(2n) {
  background: #f3f3f3;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 60px;
}
.title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
}
.title h2 {
  z-index: 1;
  position: relative;
  font-family: "Poppins";
  font-size: 60px;
  font-weight: 700;
}
.title h2:before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-right: 24px;
  height: 12px;
  background: #29cfb0;
}
/* //common */

/* KV */
/* //KV */

/* =====Our Team===== */

.ourteam-text .ourteam-detail {
  font-size: 24px;
}
.ourteam-text .underdetailtext {
  margin-top: 24px;
}
.ourteamcon {
  display: flex;
  justify-content: space-between;
}
.ezenbox {
  z-index: 5;
  position: relative;
  width: 400px;
  height: 400px;
}
.ezenbox:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 10px solid #21a48b;
  box-sizing: border-box;
}

.member-intro h2 {
  font-size: 32px;
}
.intro-box {
  justify-content: space-around;
  display: flex;
}

.intro-box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-box ul li {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}
.intro-box ul li .img-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e4ece6;
}
.intro-box ul li p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}
.intro-box ul li a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  color: white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transform-origin: center center;
  overflow: hidden;
  transition: all 0.3s;
}
.intro-box ul li:hover a {
  transform: scale(1);
  opacity: 1;
}
/* // Our Team */

/* Team Avility */
/* // Team Avility */

/* Team Portfolio */
/* //Team Portfolio */

/* footer */
