/* 유니코드 다국어 설정 */
@charset "UTF-8";

body {
  background-image: url(../images/bg.png);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

header {
  width: 1200px;
  margin: 0 auto 44px;
}
h1 {
  text-align: center;
  padding: 20px 0px 16px;
}
/* 아래의 header nav ul 사이에 쉼표 없이 나열하면 계층에 해당하느 태그만 적용
    콤사를 사용하면(header, nav, ul)모든 해당 태그에 적용 
    
    해당 태그의 요소 전부 다 선택하는 것을 '자손선택자'  라고 한다.*/
header nav ul {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(39, 21, 21);
  border-bottom: 2px solid rgb(39, 21, 21);
  background-color: rgb(240, 219, 199);
  padding: 10px;
}
header nav ul li {
  margin: 0 20px;
  font-weight: 700;
}
/* 마우스를 대면 조건을 만족하는 경우를 a:hover로 나타냅니다. */

header nav ul li a:hover {
  text-decoration: underline double;
}

/* body 태그에 직접 flex를 써버리면 body 아래 다른 자식 태그에도 영향을 끼치게 됩니다.
그래서 태그 자체로는 의미가 없는 태그를 사용해서 flex 등의 정렬 기능을 적용한다.
그것이 이전에 언급한 <div></div> & <span></span> 태그이다. 
문서 구조에 영향을 주지 않으면서 html을 그룹화할 때 사용한다.*/
div {
  width: 1250px;
  margin: 0 auto 4px;
  display: flex;
  justify-content: space-around;
}

/* box-shadow (0,0,0,0)
    -> x축, y축, 흐림 정도, 색상 및 투명도 */
main {
  flex-basis: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 50px 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

aside {
  flex-basis: 300px;
}

aside nav {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-bottom: 30px;
}

aside nav h2 {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: bold;
  color: rgb(160, 107, 107);
}
aside nav ul {
  font-size: 15px;
}

.categoryNav ul li {
  list-style-type: square;
  color: #916f5e;
  margin: 18px;
}
.categoryNav ul li a {
  color: rgb(71, 38, 38);
}

.recentNav ul li {
  list-style-type: square;
  color: #916f5e;
  margin: 18px;
  margin-bottom: 18px;
  padding-bottom: 10px;
}
.recentNav ul li a {
  color: black;
}

article h2 {
  font-size: 40px;
  font-weight: 450;
  margin-bottom: 10px;
}
/* display:inline-block 이라고 하면 block& in-line 의 속성이 합쳐진다.
좌우 너비는 인라인처럼 컨텐츠 자체만의 너비를 가지면서 블록 박스처럼 상하 여백의 지정이 가능하다. */
time {
  background-color: #128b53;
  color: white;
  font-weight: 700px;
  font-size: 18px;
  border-radius: 0px 10px 10px 10px;
  padding: 7px 7px;
  display: inline-block;
}
.postdate {
  margin-bottom: 10px;
}
.eyecatch {
  margin-bottom: 25px;
}

article h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 2px solid #128b53;
  /* background-image 는 해당 태그에 이미지르 반복해서 붙이게 된다. 아무말 안하면 공간 전체를 이미지로 채운다.
  그렇기에 background-repeat: no-repeat; 옵션 붙인다. */
  /* 이미지의 위치는 좌측 바닥이라고 지정하였음
  background-position: left bottom; */
  background-image: url(../images/h2_icon.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 10px 0px 10px 43px;
}

article p {
  line-height: 1.6;
  margin-bottom: 20px;
}
article section {
  margin-bottom: 20px;
}

footer {
  background-color: rgb(46, 19, 19);
  color: white;
  text-align: center;
  padding: 14px 14px;
}

.recentNav ul {
  height: 240px;
  /* overflow는 박스의 내용물이 넘치는 경우 처리방식을 결정하는 css이다.
      scroll은 스크롤 기능으로 열람시켜주는 것이고 hidden은 감춰주는 것을 의미한다.
      auto로 지정하면 컴퓨터가 알아서 결정한다. */
  overflow: hidden scroll;
}
