body {
    background-color: rgb(233,215,207);
    text-align: center;
    color: rgb(83,75,75);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family:cursive ;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}